@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Ole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');


*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto;
    background-color: #FF004D;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #39FF14;
    color: #FFFF;
    align-items: center;
    font-family: Roboto, serif;
    padding: 0 20%;
}

.footer{
    display: flex;
    background-color: #39FF14;
    color: #FF00FF;
    justify-content: center;
    font-family: Roboto, serif;
}

.header h1{
    color: #FF00FF;
    font-size: 24px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #FF00FF;
    list-style: none;
}

li{
    padding: 5px;
}

a{
    text-decoration: none;
    color: #FF00FF;
    font-family: "Odibee Sans";
    font-size: 24px;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.heroSection{
    display: flex;
    color: #FF00FF;
    background-color: #39FF14;
    padding: 50px 20%;
    justify-content: space-between;
    align-items: center;
}

.infoCard{
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: flex-start;
}

.infoCard h3{
    margin: 0;
    font-size: 42px;
    color: #FF00FF;
    font-family: "Odibee Sans", serif;
}

.infoCard div{
    font-family: "Ole";
    font-size: 15px;
    padding: 10px;
}

.signUpBtn{
    background-color: #120A2A;
    border-radius: 8px;
    color: #FFF700;
    padding: 5px 10px;
    font-weight: 700;

}

.op1{
    max-width: 500px;
    max-height: 250px;
}

.quoteSection{
    background-color: #1D2B53;
    color: #FFD700;
    font-family: "Cinzel Decorative", serif;
    font-weight: 300;
    font-size: 26px;
    padding: 50px 20%;
}

.quote{
    display: flex;
    flex-direction: column;
    font-style: italic;
    gap: 10px;
}

.quoteBy{
    align-self: flex-end;
    font-weight: 500;
}

.infoSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
    color: #F5E6CA;
}

.infoSection h4{
    text-align: center;
    font-size: 32px;
    margin-top: 0;
}

.cardGroup{
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}

.subtext{
    display: flex;
    flex-direction: column
}

.profileImg{
    max-width: 200px;
    max-height: 200px;
    border: 4px solid #3882f6;
}

.signUpCard{
    display: flex;
    flex-direction: column;
}

.mainTex{
    display: flex;
    margin: 50px 250px;
    justify-content: space-between;
    align-items: center;
    background-color: #FF8C00;
    padding: 20px 100px;
    color: #FF69B4;
    border-radius: 8px;
    font-size: 12px;
    gap: 20px;
}

.mainTex span{
    display: flex;
    flex-direction: column;
}

.mainTex h5{
    margin: 0;
    font-size: 24px;
}